body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://img.freepik.com/free-photo/2d-graphic-colorful-wallpaper-with-grainy-gradients_23-2151001566.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    
}

.calculator {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333333;
}

input[type="number"],
select,
button {
    margin: 10px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

a {
    display: block;
    margin-top: 20px;
    color: #4caf50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
